[Desktop Entry]
Version=1.0
Type=Link
Name=YUMI - Multiboot USB Creator
Comment=
Icon=user-bookmarks
URL=https://www.pendrivelinux.com/yumi-multiboot-usb-creator/
